@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    background-color: #E3A306;
}

.contender {
    margin-bottom: 0%;
    text-align: center;
    line-height: 100vh;
}

.contender .ostres {
    vertical-align: bottom;
}