@charset "UTF-8";

@font-face {
    font-family: Nixie;
    src: url(fonte/NixieOne.ttf) format('truetype');
  }

*{
    margin: 0;
    padding: 0;
    background-color: #E3A306;
}

/*header*/
/*círculos*/
#vermelho {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #B2323B;
    position: relative;
    margin-right: 10px;
}

#azul {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #164971;
    position: relative;
    margin-right: 10px;
}

#amarelo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E88D24;
}

.circulos {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
/*círculos*/

.titulo{
    font-size: 25px;
    letter-spacing: 7px;
    margin-top: 15px;
    text-align: center;
    font-family: Nixie;
}

/*nav*/

/*nav*/
/*header*/

/*imagem*/
.rodape{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*imagem*/